body{
    font-family: helevetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.header{
    display: inline-flex;
    width: 100%;
    height: 69px;
    bottom-border: 1px solid seashell;
    font-family: helevetica;
    font-size: 22px;
    margin-right: 5px;
}
.logo{
    height: 10px;
    width: 50px;
    justify-content: flex-start;
}
.nav{
    display: inline-flex;
    justify-content: flex-end;
    color: seashell;
    text-decoration: underline;
    width: 100%;
    padding: 5px;
}
.nav span{
    display: inline-flex;
    width:auto;
    font-family: helevetica;
    font-size: 22px;
}
.mission{
    display:flex;
    flex-direction: column;
    background: url(resources/img-mission-background.jpg) no-repeat;
    justify-content: center;
    height: 700px;
    margin-top:70px;
    
}
.mission h2 h4{
    display: flex;
    align-content: center;
    text-align: center;
    
}
