body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: helvetica;
    color: seashell;
    font-size: 22px;
    text-align: center;
    width:100%;
    margin: 0px 5px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header{
    display: inline-flex;
    align-content: center;
    width: 100%;
    height: 69px;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid seashell;
    margin: 0px 0px;
    padding:0px;
    background-color: black;
}
.logo img{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    padding: 5px;

}
.nav{
    display: inline-flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 2px;
    font-size: 22px;

}
.nav a{
    display: inline-block;
    width: auto;
    font-family: helevetica;
    font-size: 22px;
    padding: 5px;
    color: seashell;
    text-decoration: underline;

}
.main{
    display: flex;
    flex-direction: column;
    font-family: helevetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    margin-top: 70px;
    align-items: center;
}
#mission{
    flex-direction: column;
    background: url(resources/img-mission-background.jpg) no-repeat;
    height: 700px;
    width: 100%;
    margin: auto;
    
}
.missiontext{
    justify-content: center;
    width: 1200px;
    background-color: black;
    z-index: 5;
}
#featured{
    width: 1000px;
    margin:auto;
    padding-top: 50px;
}
.month{
    display:inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    width: 1000px;
}
.specials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item img{
    height:200px;
    width:300px;
    display: block;
    margin: 10px;
    justify-content: center;
}

#locations{
    flex-direction: column;
    justify-content: center;
    background: url(resources/img-locations-background.jpg) center no-repeat;
    height: 500px;
    width:100%;
   margin:auto;
}
.title{
    color:seashell;
    justify-content:center;
    text-align: center;
    width: 100%;
    border: 10px solid red;
    height: 50px;
    margin: 15px;
}
.address{
    display: inline-block;
    justify-content: center;
    width: 300px;
    height:200px;
    margin: 15px 20px;
    background-color: black;
    opacity: 1;

}
p{
    margin:10px;
}
