body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: helvetica;
    color: seashell;
    font-size: 22px;
    text-align: center;
    width:auto;
    margin:10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header{
    display: inline-flex;
    justify-content: space-between;
    width: 1200px;
    height: 75px;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid seashell;
    margin: 0px 20px;

}
.logo{
    justify-content: flex-start;
    height: 50px;
    width: auto;
    align-items: center;
    padding-bottom: 10px;

}
.nav{
    display: inline-flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 5px;
    font-size: 22px;
    margin-left: 10px;
    width:500px;
}
.nav a{
    display: inline-block;
    width: 150px;
    font-family: helevetica;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    color: seashell;
    text-decoration: underline;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    font-family: helevetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    padding-top: 30px;
    align-items: center;
}
#mission{
    display:flex;
    flex-direction: column;
    background: url(resources/img-mission-background.jpg) no-repeat center;
    flex-wrap: wrap;
    height: 700px;
    margin-top:70px;
    width:1200px;
    
}
.missiontext{
    justify-content: center;
    width:100%;
    height:150px;
    background-color: black;
    z-index: 5;

}

.month{
    display:inline-flex;
    flex-wrap: wrap;
    width: 1000px;
    
}
