body {
    background-color: black;
    font-family: helvetica;
    color: seashell;
    font-size: 22px;
    text-align: center;
    margin: 0px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header {
    align-items: center;
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid seashell;
    background-color: black;
}
.logo img {
    height: 50px;
    padding-left: 10px;
}
.nav {
    text-align: right;
    flex-grow: 1;
    padding: 2px;
    font-size: 22px;
}
.nav a {
    display: inline-flex;
    padding: 0px 5px;
    color: seashell;
    text-decoration: underline;
}
.main {
    opacity: 0.9;
    width: 1200px;
    height: auto;
    padding-top: 70px;
    margin: auto;
}
#mission {
    background: url(resources/img-mission-background.jpg) center no-repeat;
    height: 700px;
    width: 100%;
    padding-top: 70px;
}
.missioncontent {
    width: 1200px;
    align-items: center;
    background-color: black;
    margin: auto;
}
#featured {
    width: 1000px;
    margin: auto;
    padding: 50px 0px;
}
.month {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
}
.specials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.item img {
    height: 200px;
    width: 300px;
    display: block;
    margin: 10px;
}
#locations {
    background: url(resources/img-locations-background.jpg) center no-repeat;
    height: 500px;
    width: 100%;
    padding: 50px 0px;
    display: block;
    margin: auto;
}
.title {
    color: seashell;
    width: 50%;
    height: 50px;
    width: auto;
    margin: 15px 10px;
    padding-top: 70px;
}
.address {
    width: 300px;
    margin: 15px 20px;
    background-color: black;
    opacity: 1;
}
p {
    margin: 20px;
}
#contact {
    height: 200px;
    margin-bottom: 20px;
}
footer {
    text-align: left;
    width: 100%;
    margin-left: 20px;
}
